* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body,
#app {
    height: 100vh;
}

body {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif!important;
}

a {
    text-decoration: none;
    outline: none;
}